.bg-prime {
  position: relative;
  background-image: url("../../../../assests/map.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.bg-prime::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8); /* Adjust opacity as needed */
  z-index: -1;
}
