.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: blue;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none; /* Remove default outline */
}

.slick-arrow::before {
  content: "";
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.slick-next::before,
.slick-prev::before {
  content: none; /* Remove default arrow content */
}

.slick-next::before {
  transform: rotate(310deg);
}

.slick-prev::before {
  transform: rotate(130deg);
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  color: transparent !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
